.bestselleritem-card {
  padding: 10px;
  margin-top: 18px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.bestselleritempoduct_img {
  width: 183px;
  height: 162px;
}

.bestselleritempoduct_info {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  text-align: center;
}

.bestselleritempoduct_info strong {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252b42;
  letter-spacing: 0.1px;
}
.bestselleritem-card {
  padding: 10px;
  margin-top: 18px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.bestselleritempoduct_img {
  width: 183px;
  height: 162px;
}

.bestselleritempoduct_info {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  text-align: center;
}

.bestselleritempoduct_info strong {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252b42;
  letter-spacing: 0.1px;
}

.bestselleritempoduct_info a {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-decoration: none;
}
.bestselleritemprice {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #bdbdbd;
  letter-spacing: 0.1px;
}

.bestselleritemprice span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #23856d;
  letter-spacing: 0.1px;
  margin-left: 5px;
}

.bestselleritempoduct_info a {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-decoration: none;
}
.bestselleritemprice {
  display: flex;
}
.bestselleritemprice p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #bdbdbd;
  letter-spacing: 0.1px;
  text-decoration: line-through;
}

.bestselleritemprice span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #23856d;
  letter-spacing: 0.1px;
  margin-left: 5px;
}

.addcartbtn,
.removecartbtn {
  background-color: #ff3847;
  padding: 5px 16px;
  border-radius: 5px;
  /* background-color: #23856d; */
  color: #ffffff;
}
